.wpgs-grid {
    list-style-type: none;
}

    .wpgs-grid .grid-size {
        width: 33%;
    }

    .wpgs-grid .wpgs-item {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        font-size: 12px;
        line-height: 15px;
        padding: 15px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
        -ms-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
        -o-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
        box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
    }

        .wpgs-grid .wpgs-item.wpgs-item-tile-1 {
            width: 33%;
        }

        .wpgs-grid .wpgs-item.wpgs-item-tile-2 {
            width: 66%;
        }

        .wpgs-grid .wpgs-item.wpgs-item-tile-3 {
            width: 100%;
        }