.wpgs-grid {
    list-style-type: none;
}

    .wpgs-grid *,
    .wpgs-grid *:before,
    .wpgs-grid *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    .wpgs-grid .grid-sizer {
        width: 33%;
    }

    .wpgs-grid .item {
        float: left;
        width: 33%;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        font-size: 12px;
        line-height: 15px;
        padding: 15px;
        margin: 0px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
        -ms-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
        -o-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
        box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px 0px;
    }

        .wpgs-grid .item.is-dragging {
            z-index: 999;
        }

        .wpgs-grid .item img {
            display: block;
            width: 100%;
        }